@font-face {
	font-family: 'Rostelecom Basis Medium';
	src:url('../fonts/RostelecomBasisMedium.eot') format('embedded-opentype'),
		url('../fonts/RostelecomBasisMedium.woff') format('woff'),
		url('../fonts/RostelecomBasisMedium.ttf') format('truetype');
}
@font-face {
	font-family: 'Rostelecom Basis Regular';
	src:url('../fonts/RostelecomBasisRegular.eot') format('embedded-opentype'),
		url('../fonts/RostelecomBasisRegular.woff') format('woff'),
		url('../fonts/RostelecomBasisRegular.ttf') format('truetype');
}