
<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <p class="footer-text">&copy; 2022 ПАО «Ростелеком». 18+</p>
            <p class="footer-text footer__wrapper-inner">Продолжая использовать наш сайт, вы даете согласие на обработку файлов <a href="#" class="footer-text_link">Cookies</a> и других пользовательских данных, в соответствии с <a href="#" class="footer-text_link">Политикой конфиденциальности</a></p>
            <p class="footer-text">Контакты для связи:<a href="mailto:info.ersp@rt.ru" class="footer-text_link"> info.ersp@rt.ru.</a></p>
        </div>
    </div>
</footer>