
    <header class="header">
        <div class="container">
            <div class="header__wrapper">
              <a href="#"><img src="assets/img/logo.png" class="header__logo" alt="logo"></a>
              <div class="header__ineer">
                <div class="header__ineer-entrance">
                    <a href="https://latest.keon.gq/nextcloud/index.php/login"><img class="header__ineer-img" src="assets/img/SignIn.png" alt="entrance"></a>
                </div>
                <a href="https://latest.keon.gq/nextcloud/index.php/login" class="title__header">Войти</a>
              </div>
              
            </div>
        </div>
    </header>